<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.mobiquest.mobisharewa" version="2.2.4" android-versionCode="16">
  <name>mloyalWOO</name>
  <author href="http://www.mloyal.com/" rim:copyright="Copyright 2014 Tag# Digita">Mobiquest Mobile Technologies Pvt Ltd</author>
  <description>mloyalWOO</description>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/device"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>
  <feature name="Contacts">
    <param name="ios-package" value="CDVContacts"/>
  </feature>
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>
  <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
    <param name="onload" value="true"/>
  </feature>
  <preference name="phonegap-version" value="cli-8.1.1"/>
  <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashShowOnlyFirstTime" value="false"/>
  <preference name="LoadingDialog" value="Please wait, the app is loading"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="orientation" value="portrait"/>
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="target-device" value="universal"/>
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="Fullscreen" value="false"/>
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="android-windowSoftInputMode" value="adjustResize"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <!-- ios: if set to true, app will terminate when home button is pressed -->
  <preference name="ShowSplashScreenSpinner" value="true"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <icon src="icon.png"/>
  <platform name="android">
    <icon src="res/icon/android/ldpi.png" density="ldpi"/>
    <icon src="res/icon/android/mdpi.png" density="mdpi"/>
    <icon src="res/icon/android/hdpi.png" density="hdpi"/>
    <icon src="res/icon/android/xhdpi.png" density="xhdpi"/>
  </platform>
  <platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json"/>
  </platform>
  <platform name="ios">
    <resource-file src="GoogleService-Info.plist"/>
  </platform>
  <platform name="ios">
    <icon src="res/icon/ios/icon-57.png" width="57" height="57"/>
    <icon src="res/icon/ios/icon-57-2x.png" width="114" height="114"/>
    <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72-2x.png" width="144" height="144"/>
    <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60-2x.png" width="120" height="120"/>
    <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76-2x.png" width="152" height="152"/>
    <icon src="res/icon/ios/Icon-Small-40.png" width="40" height="40"/>
    <icon src="res/icon/ios/iTunesArtwork@2x.png" width="1024" height="1024"/>
  </platform>
  <platform name="android">
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="mdpi"/>
    <splash src="res/screen/android/screen-hdpi-portrait.png" density="hdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="xhdpi"/>
  </platform>
  <platform name="ios">
    <!-- 1334x1334 -->
    <splash src="res/screen/ios/Default@2x~iphone~anyany.png"/>
    <!-- 750x1334 -->
    <splash src="res/screen/ios/Default@2x~iphone~comany.png"/>
    <!-- 1334x750 -->
    <splash src="res/screen/ios/Default@2x~iphone~comcom.png"/>
    <!-- 2208x2208-->
    <splash src="res/screen/ios/Default@3x~iphone~anyany.png"/>
    <!-- 2208x1242 -->
    <splash src="res/screen/ios/Default@3x~iphone~anycom.png"/>
    <!-- 1242x2208 -->
    <splash src="res/screen/ios/Default@3x~iphone~comany.png"/>
    <!-- 2732x2732 -->
    <splash src="res/screen/ios/Default@2x~ipad~anyany.png"/>
    <!-- 1278x2732 -->
    <splash src="res/screen/ios/Default@2x~ipad~comany.png"/>
  </platform>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <gap:plugin name="cordova-plugin-device" source="npm"/>
  <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
  <gap:plugin name="cordova-plugin-themeablebrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
  <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
  <gap:plugin name="cordova-plugin-file" source="npm"/>
  <gap:plugin name="cordova-plugin-screen-orientation" source="npm"/>
  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
  <gap:plugin name="cordova-plugin-android-permissions" source="npm"/>
  <gap:plugin name="cordova-plugin-camera" source="npm"/>
  <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
  <gap:plugin name="cordova-plugin-media" source="npm"/>
  <plugin name="phonegap-plugin-push" spec="2.2.3" source="npm"/>
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="5.6.8"/>
  <!--gap:plugin name="cordova-plugin-x-socialsharing" source="npm"/-->
  <!--
	 <plugin name="phonegap-plugin-push" spec="2.1.3" source="npm" />
	
	
	
	<plugin name="cordova-android-support-gradle-release" source="npm">
		<variable name="ANDROID_SUPPORT_VERSION" value="28.0.0"/>
	</plugin>
	
	<gap:plugin name="cordova-plugin-androidx" source="npm" />
	<gap:plugin name="cordova-plugin-androidx-adapter" source="npm" />-->
  <!--<gap:plugin name="cordova-plugin-sms" source="npm" />-->
  <!--<gap:plugin name="cordova-plugin-enable-multidex" source="npm" />-->
  <!--gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" /-->
  <!--<gap:plugin name="cordova-uxcam" source="npm" />-->
  <edit-config file="*-Info.plist" mode="merge" target="UIStatusBarHidden">
    <true/>
  </edit-config>
  <edit-config file="*-Info.plist" mode="merge" target="UIViewControllerBasedStatusBarAppearance">
    <false/>
  </edit-config>
  <edit-config target="CFBundleShortVersionString" file="*-Info.plist" mode="merge">
    <string>5</string>
  </edit-config>
  <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>Camera Access Required</string>
  </edit-config>
  <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    <string>PhotoLibrary Access Required</string>
  </edit-config>
  <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>need location access to find things nearby</string>
  </edit-config>
  <rim:permissions>
    <rim:permit>use_camera</rim:permit>
  </rim:permissions>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="http://180.179.202.114/" subdomains="true"/>
  <access origin="http://103.25.128.61/" subdomains="true"/>
  <access origin="https://www.hyundai.com/in/en" subdomains="true"/>
  <access origin="http://mmpdev.hyundai.co.in/autoever/" subdomains="true"/>
  <access origin="http://xceedfbapps.com/" subdomains="true"/>
  <access origin="http://www.youtube.com/embed/" subdomains="true"/>
  <allow-intent href="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <!--<allow-intent href="sms:*" />-->
  <preference name="WindowsStorePublisherName" value="My Name"/>
  <preference name="WindowsStoreIdentityName" value="615e1e0c-4cfa-cb2c-328e-9b2e976d73d8"/>
</widget>
