<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817522399972-g509brmujgvppbjfsrkisl1a6m6ksc72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817522399972-g509brmujgvppbjfsrkisl1a6m6ksc72</string>
	<key>API_KEY</key>
	<string>AIzaSyAPa66iO_0v1s_Apck_frZ61UjMljstUmE</string>
	<key>GCM_SENDER_ID</key>
	<string>817522399972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.mobisharewa</string>
	<key>PROJECT_ID</key>
	<string>mloyalshare</string>
	<key>STORAGE_BUCKET</key>
	<string>mloyalshare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817522399972:ios:c87af610900cf8dbf02af1</string>
	<key>DATABASE_URL</key>
	<string>https://mloyalshare.firebaseio.com</string>
</dict>
</plist>